/*SOBRE NOSOTROS*/
.about{
	background-color: white;
	width: 100%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.about_info{
	width:70%;
	margin: 50px auto;

}
.flex{
	width:90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
.cov{
	background-color: rgba(0,0,0,.2);
	width:100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color:white;
	text-align: center;
}
.box_cat{
	width:300px;
	flex-grow: 1;
	margin: 15px 30px;
	height:200px;
	background-size: cover;
	background-position: center;
	cursor: pointer;

}
.about_info p{
	font-size: 1.6rem;
	color:#878787;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.about_info h2{
	font-size: 2.5rem;
	color:#696969;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}
.ayuda{
	text-align: center !important;
}















.carro{
	width: 100%;
	height: auto;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}
.desc{
	margin-top: 50px;
}
.carrito{
	width: 150px;

	flex-grow: 1;
	height: auto;
}
.carrito img{
	width: 100%;
	height: auto;
}
.descript{
	margin-top: 30px;
	border-right: 1px dotted #E0E0E0;
	color:#878787;
	padding: 1% 5%;
	min-height:300px;
}
.document{
	display: flex;
	flex-wrap: wrap;
	width:80%;
	margin:0 auto;
	margin-top: 30px;
}
.doc{
	width:400px;
	flex-grow: 1;
}
.doc img{
	width:90%;
	margin: 0 auto;
}

.doc p, .doc h3{
	width:80%;
	margin: 0 auto;
	color:#656565;
	font-family: 'Questrial', sans-serif;
	word-wrap: break-word;
	line-height:1.6;
}
.inf{
	margin-top: 70px;
}