
a{
	color:#666;
	text-decoration: none;
}
.may{
	font-family: 'Carrois Gothic SC', sans-serif;

}
.textos{
	font-family: 'Montserrat', sans-serif;

}
.back{
background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  color:white;
	background-image: url('../../assets/001.jpg');
	display: flex;
	justify-content: center;
	align-items: center;
}

#bg-video{
  position: fixed;
  top:-50px;
  left:0;
  margin: 0;
  min-width: 100%;
  min-height:110%;
  z-index: -1000;
}
.name h1{
	font-size: 60px;
	margin: 0;
}
.redes{
	display: flex;
	margin-top: 50px;
	justify-content: center;
}
.icon_about{
	margin: 0 20px;
}
.box_slide{
	margin-top: 0;
	background-color: white;
	width: 100%;
	height: auto;
	padding-top: 35px;
	text-align: center;
	color:#656565;
	font-family: 'Questrial', sans-serif;

}
/*.claro{*/
	/*color:black;*/
	/*opacity: .75;*/
/*}*/
.line{
	background-color: black;
	opacity: .2;
	border:none;
	height:2px;
	width:100px;
}
@media(min-width: 560px){

}

@media(max-width: 560px){
	
	video{
		display: none;
	}
}