@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Montserrat|Questrial');

.carousel{
	width: 60%;
	height: auto;
	margin-left: 20%;
	padding: 2% 0 4% 0;


}
.btn_slide{
	background-color: transparent;
	border:none;
	color:#E0E0E0;

}
.car{
	height: 400px;

}
