.footer {
    width: 100%;
    /*background-color: #383838;*/
    text-align: center;
    background-color:#51493d;
    color:#b4b0ab;
    padding-top: 50px;

}
.footer .flexi{
    padding-bottom: 50px;
}
.footer .flexi div{
    width:300px;
    flex-grow: 1;
}
.footer input{
    width:50%;
    background-color: #51493d;
    border: none;
    padding: 5% 9% 3% 1%;
    border-bottom: 1px solid #b4b0ab !important;
}
.btn_send{
    background-color: #996439;
    color:white;
    width:100px;
    margin: 0 auto;
    padding: 2% 5%;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
.copy{
    background-color: #474137 !important;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p span{
    margin: 0 10px;
}



.flexi{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height:auto;
}
.icon_redes{
    margin: 0 10px;
}
#map{
    width:100%;

}
