.single{
	display: flex;
	flex-wrap:wrap;
	padding-top: 100px;
}
.text{
	width: 40%;
	padding: 2% 5% ;

}
.img_text{
	width: 50%
}
.img_text img{
	width: 90%;
	padding:12% 5%;

}
@media(max-width: 600px){

	.single{
		padding-top: 30px;
		
	}
	.text{
		width:100%;
	}
	.img_text{
		width:100%;
	}
}